@import "tailwindcss";

/* Variable */
@theme {
  --color-main: oklch(0.9085 0.1841 109.56);
  --color-main-var: oklch(0.9985 0.1841 109.56);
  --color-secondary: oklch(0.6 0.2001 32.35);
  --color-secondary-var: oklch(0.7 0.2001 32.35);
  --color-dark: oklch(0.2002 0 0);
  --color-dark-var: oklch(0.5002 0 0);
  --color-light: oklch(0.9851 0 0);
  --color-light-var: oklch(0.8851 0 0);

  --shadow-3xl: 0px 0px 3px var(--color-dark);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: --color-dark;
    --foreground: --color-light;
  }
}
*/

/* Utilities */
@layer utilities {
  .font-f1-h1 {
    @apply text-2xl font-bold font-(family-name:--font-header);
  }
  .font-f1-h2 {
    @apply text-xl font-bold font-(family-name:--font-header);
  }
  .font-f1-p {
    @apply text-xl font-(family-name:--font-header);
  }
  .font-f1-p2 {
    @apply text-dark-var font-(family-name:--font-header);
  }
  .font-f2-h1 {
    @apply my-2 text-lg font-bold font-(family-name:--font-text);
  }
  .font-f2-h2 {
    @apply my-2 font-bold font-(family-name:--font-text);
  }
  .font-f2-p {
    @apply my-2 font-(family-name:--font-text);
  }
  .font-f2-p2 {
    @apply my-2 text-dark-var font-(family-name:--font-text);
  }
}

/* Global Styles */
@layer base {
  html {
    scroll-behaviour: smooth;
  }
  body {
    text-wrap: balance;
    @apply bg-light text-dark text-base font-normal font-(family-name:--font-text);
  }
  h1 {
    @apply text-3xl font-semibold font-(family-name:--font-header);
  }
  h2 {
    @apply text-xl font-semibold font-(family-name:--font-header);
  }
  p {
    @apply my-2;
  }
  .btn,
  button {
    @apply inline-block my-2 bg-dark py-3 px-8 text-light rounded-md cursor-pointer text-base shadow-md;
  }
  .btn:hover,
  button:hover {
    @apply bg-dark-var transition duration-300 ease-in-out;
  }
  input {
    @apply border-light-var border-2 rounded-lg py-2 w-full px-3;
  }
  section {
    @apply w-11/12 max-w-1080 mx-auto;
  }
}
