.inputContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.inputLabel {
  color: var(--text-light);
  font-size: 14px;
  
}

.inputData {   
  border: solid 1px var(--text-dark);
  border-radius: 8px;
  padding: 12px;
}