.section-box{
  width: 100%;
  color: var(--text-light);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.section-box .line {
  --height: 1px;
  background-color: var(--text-light);
  flex: 1;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
}